html, body
{
    height: 100%;
    margin: 0;
}

.text_header
{
    position: relative;
    display: inline-block;
}

.dropdown {
  position: relative;
  float: right;
}

.dropbtn {
  background-color: blue;
  color: black;
  padding: 21px;
  font-size: 21px;
  border: none;
  cursor: pointer;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 21px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 21px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: blue;
}